@tailwind base;
@tailwind components;

@tailwind utilities;

@layer components {
  .btn-primary {
    @apply rounded-2xl bg-violet-600 h-10 text-white font-bold text-base hover:bg-violet-500 
    hover:scale-105 hover:ease-in duration-100 disabled:bg-stone-500 disabled:cursor-not-allowed 
    disabled:scale-100
  }
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
}
#root {
  min-height: 100%;
  height: 100%;
}
p,
span,
h1,
h2,
h3,
h4,
h5 {
  color: white;
}
